{% extends 'main/main_base.html' %}

{% block title %}Remote Monitoring System{% endblock %}

{% block content %}
<h2>さて、何を始めますか？</h2>
<div>
    <h3>■遠隔監視サイトを表示</h3>
    <h4>
        <a class="btn btn-default" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span> サイト一覧を表示する</a>
    </h4>
</div>
<div>
    <h3>■システム管理</h3>
    <h4>　遠隔監視サイトを設定する</h4>
    <h4>　センサーの全体一覧を表示する</h4>
</div>
<div>
    <h3>■システム開発の記録を閲覧</h3>
    <h4>
        <a  class="btn btn-default" href="{% url 'record:record_article' %}"><span class="glyphicon glyphicon-book"></span> 関連する参考記事を閲覧</a>
    </h4>
</div>
{% endblock %}