{% extends 'main/main_base.html' %}

{% block title %}遠隔監視対象情報を更新{% endblock %}

{% block content %}

{% comment %} <big><p><a href="{% url 'main:location_create' %}"><span class="glyphicon glyphicon-plus"></span>新規作成</a></p></big> {% endcomment %}
    
    <h4>監視サイト情報を更新</h4>
    <div class="container my-3" style="max-width:700px;">
        <form method="POST" class="main-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="form-control btn btn-primary" type="submit">編集結果を保存</button>
            {% comment %} <button type="submit" class="save btn btn-default">登録</button> {% endcomment %}
        </form>

        {% comment %} <br>
        <div>
            <a  class="btn btn-default" href="{% url 'record:record_create' %}"><span class="glyphicon glyphicon-pencil"></span> 開発記録を作成</a>
            <a class="btn btn-default" href="{% url 'record:record_list' %}"><span class="glyphicon glyphicon-list-alt"></span> 開発記録一覧を表示</a>
        </div> {% endcomment %}
        
    </div>
{% endblock %}
