{% extends 'main/main_base.html' %}

{% block content %}

<div class="container">
    <br>
    <h2 align="center"><u>{{ location.name }} 様現場</u></h2>
    <table class="table caption-top table-bordered borderless">
        <caption>各センサー毎の最新測定値</caption>
        <thead class="table-primary table-bordered border-dark">
            <tr align="center">
                <th scope="col">センサー名</th>
                <th scope="col">測定値</th>
                <th scope="col">測定日時</th>
                <th scope="col">備考(メモ)</th>
            </tr>
        </thead>
        <tbody class="table-warning table-bordered border-dark">
            {% for result in results %}
            <tr>
                <td colspan="1">{{ result.point }}</td>
                <td colspan="1" align="right">{{ result.measured_value }}</td>
                <td colspan="1" align="right">{{ result.measured_date }}</td>
                <td colspan="1">{{ result.point.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot class="table-bordered borderless">
            <td colspan="1"></td>
            <td colspan="2"></td>
            <td colspan="1">※1分毎に更新(工事中は30分毎)</td>
        </tfoot>
    </table>
</div>
<br>
<div class="container">
    <!-- <h5 align="center">直近30分間のデータ推移</h5> -->
    <!-- ここにグラフを描画する -->
    <div class="graph">{{plot|safe}}</div>
</div>
{% endblock %}