{% extends 'main/main_base.html' %}

{% block title %}Remote Monitoring System{% endblock %}

{% block content %}
<div class="container">
    <p>{{ user }}様ログインに成功しました。</p>
    <p>{{user.profile}}</p>
    <p>user_id:{{ user.id }}</p>
    <p>最新のログイン日：{{user.last_login}}</p>

    <p>{{ user }},{{ 'user' }}とfujicoを調べるよ</p>

    {% if 'fujico' in user %}
    <p>フジコーだよ！</p>
    {% else %}
    <p>お客だよ</p>
    {% endif %}    

    {% if user.is_admin %}
    <div>
        <h4>■遠隔監視サイトを表示</h4>
        <h6>遠隔監視サイトを選択してください。</h6>
        <div>
            {% for location in location_list %}
            <h3>
                <a class="form-control btn btn-info" href="{% url 'main:main_detail' location.pk %}">{{ location.name }}</a>
            </h3>
            <p>【Memo】{{ location.memo }}</p>
            {% endfor %}    
        </div>
        <div>
            <h4>■システム管理</h4>
            <h5> センサーの全体一覧を表示する</h5>
            <h6>
                <a class="form-control btn btn-warning" href="{% url 'main:sensors_list' %}"><span class="glyphicon glyphicon-list"></span> センサーの全体一覧を表示</a>
            </h6>
            <h5> 遠隔監視サイトを編集する</h5>
            <h6>
                <a class="form-control btn btn-secondary" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span> サイトの一覧を表示</a>
            </h6>
        </div>
        <br>
        <div>
            <h4>システム管理者のページ</h4>
            <h5>
                <a  class="btn btn-default" href="{% url 'record:record_article' %}"><span class="glyphicon glyphicon-book"></span> 開発記録を閲覧する</a>
                <a class="btn btn-default" href="{% url 'main:upload' %}"><span class="glyphicon glyphicon-pencil"></span>データファイルをアップロード</a>
            </h5>
        </div>
    </div>
    {% elif user.is_staff %}
    <h4>■遠隔監視サイトを表示</h4>
    <h6>遠隔監視サイトを選択してください。</h6>
    <div>
        {% for location in location_list %}
        <h3>
            <a class="form-control btn btn-info" href="{% url 'main:main_detail' location.pk %}">{{ location.name }}</a>
        </h3>
        <p>【Memo】{{ location.memo }}</p>
        {% endfor %}    
    </div>
    <div>
        <h4>■システム管理</h4>
        <h5> センサーの全体一覧を表示する</h5>
        <h6>
            <a class="form-control btn btn-warning" href="{% url 'main:sensors_list' %}"><span class="glyphicon glyphicon-list"></span> センサーの全体一覧を表示</a>
        </h6>
        <h5> 遠隔監視サイトを編集する</h5>
        <h6>
            <a class="form-control btn btn-secondary" href="{% url 'main:location_list' %}"><span class="glyphicon glyphicon-list"></span> サイトの一覧を表示</a>
        </h6>
    </div>

    {% else %}
    <div>
        <h4>■遠隔監視サイトを表示</h4>
        <h6>遠隔監視サイトを選択してください。</h6>
        <div>
            {% for location in location_list %}
            <h3>
                <a class="form-control btn btn-info" href="{% url 'main:main_detail' location.pk %}">{{ location.name }}</a>
            </h3>
            <p>【Memo】{{ location.memo }}</p>
            {% endfor %}    
        </div>
    </div>
    {% endif %}        
</div>

{% endblock %}