{% extends 'record/base.html' %}

{% block content %}
    <big><p><a href="{% url 'record_create' %}"><span class="glyphicon glyphicon-plus"></span>新規作成</a></p></big>
    {% for record in record_list %}
        <div class="record">
            <div class="date">
                <p>published: {{ record.published_date }}</p>
            </div>
            <h2><a href="{% url 'record_detail' record.pk %}">{{ record.title }}</a></h2>
            <p>{{ record.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}