
{% comment %} JAVAscriptの外部ソース {% endcomment %}
{% comment %} <script type="text/javascript" src="{% static 'script.js' %}"></script> {% endcomment %}

{% comment %} real-time clock script {% endcomment %}
<script>
    function twoDigit(num) {
        let ret;
        if (num < 10)
            ret = "0" + num;
        else
            ret = num;
        return ret;
    }

    function showClock() {
        let now = new Date();
        let year = now.getFullYear();
        let month = now.getMonth() + 1;
        let date = now.getDate();
        let week = now.getDay();
        let wd = ['日', '月', '火', '水', '木', '金', '土'];
        let nowHour = twoDigit(now.getHours());
        let nowMin = twoDigit(now.getMinutes());
        let nowSec = twoDigit(now.getSeconds());
        let msgDate = year + '年' + month + '月' + date+ '日'+ '(' + wd[week] + ')';
        let msgTime = "" + nowHour + ":" + nowMin + ":" + nowSec;
        //document.getElementById("date").innerHTML = year + '年' + month + '月' + date+ '日';
        //target0 = document.getElementById("today");
        //target0.innerHTML = '今日は　' + msgDate;
        //target1 = document.getElementById("now");
        //target1.innerHTML = '現在時刻　' + msgTime;
        target = document.getElementById("realtime");
        target.innerHTML =msgDate + ' ' + msgTime;
    }
    setInterval('showClock()', 1000);
</script>

{% comment %} Plotly用のscriptを準備 {% endcomment %}
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% comment %} </body>の直前に挿入　Optional JavaScript {% endcomment %}
{% comment %} jQuery first, the next Popper.js and then Bootstrap JS {% endcomment %}
{% comment %} Bootstrap Bundle with Popper {% endcomment %}
{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{% comment %} jQueryのスクリプト {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> {% endcomment %}